<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:p="http://www.w3.org/Schema/p"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
      
      
      <bean id="p1" class="com.eb.model.Post">
      
      <constructor-arg value="101" type="int"></constructor-arg>
      <constructor-arg value="Java is Platform Independent" ></constructor-arg>
       <constructor-arg value="yes it is " ></constructor-arg>
      
      </bean>  
        </beans>